[submodule "act-wizard-js"]
	path = act-wizard-js
	url = https://github.com/brodao/act-wizard-js.git
[submodule "act-wizard-vscode"]
	path = act-wizard-vscode
	url = https://github.com/brodao/act-wizard-vscode.git